{% extends 'store.html' %}
{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block whitezone %}
<div class="navbar">
    <a href="{% url 'product_list' %}"><h2 class="categorytitle">Вернуться в магазин</h2></a>

    <div class="table">
        <table >
            <tr>
                <td class="cornernavbar">
                    <a href="{% url 'cart_detail' %}"><img src="{% static 'images/cart.png'%}" alt="Корзина"></a>
                </td>
                <td class="cornernavbar">
                    <a href="{% url 'get_user' %}"><img src="{% static 'images/profile.png'%}" alt="Профиль"></a>
                </td>
            </tr>
        </table>
    </div>    
</div>
<div class="conf">
    <p>Заказ #{{order.id}} принят!</p>
    <p>Он будет доставлен на адрес {{order.address}} между {{order.address.hours}} часами</p>
    <p>Когда заказ будет готов, вам придет письмо на почту {{order.customer.email}}</p>
    <p>Будем рады снова видеть вас у горизонта событий!</p>
    <ul>
        {% for item in order.items.all %}
            <li>
                <strong>{{item.quantity}} x {{item.product.name}}</strong>
            </li>
        {% endfor %}
    </ul>
    
</div>
{% endblock whitezone %}