{% extends 'store.html' %}
{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block whitezone %}
<div class="navbar">
    <a href="{{ request.META.HTTP_REFERER }}"><h2 class="categorytitle">Назад</h2></a>

    <div class="table">
        <table >
            <tr>
                <td class="cornernavbar">
                    <a href="{% url 'cart_detail' %}"><img src="{% static 'images/cart.png'%}" alt="Корзина"></a>
                </td>
                <td class="cornernavbar">
                    <a href="{% url 'get_user' %}"><img src="{% static 'images/profile.png'%}" alt="Профиль"></a>
                </td>
            </tr>
        </table>
    </div>    
</div>
<div class="userinfo">
    <div class="usertext">
        <p>Привет, {{user.username}}!</p>
        <p>ваша почта: {{user.email}}</p>
    </div>
    <div class="userbuttons"> 
        <a href="{% url 'update' %}">
            Редактировать информацию</a>
        <a href="{% url 'past' %}">
            Прошлые заказы</a>
        <a href="{% url 'logout' %}"><button type="submit" class="btntocart">ВЫЙТИ</button></a>
    </div>
</div>

{% endblock whitezone %}